{{> nav }}
<h2>Edit your profil</h2>

<p>Here you can edit your profil</p>

<p class="error">{{ errorText.data }}</p>


<form method="post" class="formprofil">

    <p class="error">{{ errorText.first_name }}</p>
    <input type="text" name="first_name" placeholder="First name" value="{{data.first_name}}">
    <p class="error">{{ errorText.last_name }}</p>
    <input type="text" name="last_name" placeholder="Last name" value="{{data.last_name}}">
    <p class="error">{{ errorText.email }}</p>
    <input type="text" name="email" placeholder="Email" value="{{data.email}}">
    <p class="error">{{ errorText.pass }}</p>
    <input type="password" name="pass" placeholder="Password">
    <input type="text" name="age" placeholder="Age" value="{{data.age}}">
    <input type="text" name="city" placeholder="City" value="{{data.city}}">
    <input type="text" name="url" placeholder="Homepage" value="{{data.url}}">

    <input type="submit" name="submit" value="Update">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>


<form action="/delsig" method="post" class="formprofil">
    <input type="submit" name="submit" value="Delete my signature">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

<form action="/delprofil" method="post" id="delprofil" class="formprofil">
    <input type="submit" name="submit" value="Delete my profil">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
